interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer b4c0n73n7fu1]
    method: GET
    uri: https://cdn.contentful.com:443/spaces/cfexampleapi/assets?limit=1
  response:
    body: {string: !!python/unicode "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n\
        \  \"total\": 4,\n  \"skip\": 0,\n  \"limit\": 1,\n  \"items\": [\n    {\n\
        \      \"fields\": {\n        \"title\": \"Jake\",\n        \"file\": {\n\
        \          \"fileName\": \"jake.png\",\n          \"contentType\": \"image/png\"\
        ,\n          \"details\": {\n            \"image\": {\n              \"width\"\
        : 100,\n              \"height\": 161\n            },\n            \"size\"\
        : 20480\n          },\n          \"url\": \"//images.contentful.com/cfexampleapi/4hlteQAXS8iS0YCMU6QMWg/2a4d826144f014109364ccf5c891d2dd/jake.png\"\
        \n        }\n      },\n      \"sys\": {\n        \"space\": {\n          \"\
        sys\": {\n            \"type\": \"Link\",\n            \"linkType\": \"Space\"\
        ,\n            \"id\": \"cfexampleapi\"\n          }\n        },\n       \
        \ \"type\": \"Asset\",\n        \"id\": \"jake\",\n        \"revision\": 2,\n\
        \        \"createdAt\": \"2013-09-02T14:56:34.260Z\",\n        \"updatedAt\"\
        : \"2013-09-02T15:22:39.466Z\",\n        \"locale\": \"en-US\"\n      }\n\
        \    }\n  ]\n}\n"}
    headers:
      content-type: [application/vnd.contentful.delivery.v1+json]
      etag: ['"51fb9c88b6b0b99dc819b60c34c6d505"']
      x-contentful-request-id: [f1c-651834067]
    status: {code: 200, message: OK}
version: 1
