interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer b4c0n73n7fu1]
    method: GET
    uri: https://cdn.contentful.com:443/spaces/cfexampleapi/content_types?limit=1
  response:
    body: {string: !!python/unicode "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n\
        \  \"total\": 5,\n  \"skip\": 0,\n  \"limit\": 1,\n  \"items\": [\n    {\n\
        \      \"fields\": [\n        {\n          \"name\": \"Name\",\n         \
        \ \"id\": \"name\",\n          \"type\": \"Text\",\n          \"required\"\
        : true\n        },\n        {\n          \"name\": \"Center\",\n         \
        \ \"id\": \"center\",\n          \"type\": \"Location\",\n          \"required\"\
        : true\n        }\n      ],\n      \"name\": \"City\",\n      \"sys\": {\n\
        \        \"space\": {\n          \"sys\": {\n            \"type\": \"Link\"\
        ,\n            \"linkType\": \"Space\",\n            \"id\": \"cfexampleapi\"\
        \n          }\n        },\n        \"type\": \"ContentType\",\n        \"\
        id\": \"1t9IbcfdCk6m04uISSsaIK\",\n        \"revision\": 1,\n        \"createdAt\"\
        : \"2014-02-21T13:42:33.009Z\",\n        \"updatedAt\": \"2014-02-21T13:42:33.009Z\"\
        \n      },\n      \"displayField\": \"name\"\n    }\n  ]\n}\n"}
    headers:
      content-type: [application/vnd.contentful.delivery.v1+json]
      etag: ['"99ee26f2b62d079d9b754b5c2004a0a8"']
      x-contentful-request-id: [f1c-651841947]
    status: {code: 200, message: OK}
version: 1
